**/.classpath
**/.factorypath
**/.project
**/.settings
**/.tool-target
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.suo
**/*.userosscache
**/*.sln.docstates

**/bin/**
**/obj/**
**/out/**

**/test/**
**/TestResults/**
**/.vscode/test/**

**/*.fr.md
**/*.fr.resx
**/*.es.md
**/*.es.resx
**/*.it.md
**/*.it.resx

**/node_modules/**
**/bower_components/**

**/*.md
**/*.txt
**/*.log
**/.git/
**/.gitignore
**/.env
**/.env.*
**/appsettings.Development.json
**/appsettings.Local.json
